#mi_list {
    width: 100%;
    background: #F2F2F2;
}

#mi_list .content {
    width: 1080px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 80px;
}

#mi_list .list_header {
    margin: 30px 0 15px 0;
}

#mi_list .list_header a {
    font-size: 13px;
    color: #333;
}

#mi_list .list_header .list_name {
    color: #999;
}

#mi_list .list_header a:hover {
    color: #845f3f;
}

/* #mi_list .typegoods_item {
    
} */

#mi_list .typegoods_item .listgood_item {
    padding-top: 20px;
    margin-bottom: 20px;
}

#mi_list .typegoods_item .listgood_item dt {
    padding-bottom: 13px;
    font-weight: 400;
    font-size: 24px;
    color: #333;
}

#mi_list .typegoods_item .listgood_item dd {
    float: left;
    margin: 0 5px 5px 0;
    transition: all .4s;
}

#mi_list .typegoods_item .listgood_item dd:hover {
    transform: translate3d(0, -2px, 0);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
}

#mi_list .typegoods_item .listgood_item dd:nth-of-type(4n) {
    float: left;
    margin-right: 0;
}

#mi_list .typegoods_item .listgood_item dd a {
    display: block;
    width: 266px;
    background: #fff;
    text-align: center;
    padding-bottom: 10px;
}

#mi_list .typegoods_item .listgood_item dd .gooditem_img img {
    width: 195px;
    height: 195px;
}

#mi_list .typegoods_item .listgood_item dd .goods_pro {
    margin-top: 10px;
}

#mi_list .typegoods_item .listgood_item dd .goods_pro .good_title {
    height: 26px;
    line-height: 26px;
    color: #333;
    font-size: 16px;
    width: 90%;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mi_list .typegoods_item .listgood_item dd .goods_pro .good_littitle {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #999;
    width: 90%;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mi_list .typegoods_item .listgood_item dd .good_price {
    color: #a92112;
    line-height: 26px;
    font-size: 0;
    height: 26px;
}

#mi_list .typegoods_item .listgood_item dd .good_price span {
    font-size: 12px;
    vertical-align: middle;
}

#mi_list .typegoods_item .listgood_item dd .good_price .dao_fu {
    margin-right: -2px;
}

#mi_list .typegoods_item .listgood_item dd .good_price .good_num {
    font-size: 14px;
}

#mi_list .typegoods_item .listgood_item dd .good_price .price_tejia {
    display: inline-block;
    background: #c00000;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    margin-left: 8px;
    border-radius: 2px;
}


#mi_list .list_header .tiaojian {
    float: right;
    font-size: 14px;
}

#mi_list .list_header .tiaojian input {
    width: 60px;
    height: 30px;
    padding: 0;
    border: 1px solid #d6d6d6;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 10px;
    cursor: pointer;
}

#mi_list .list_header .tiaojian .ppp {
    float: left;
}

#mi_list .list_header .tiaojian select {
    width: 110px;
    height: 30px;
    padding: 0;
    border: 1px solid #d6d6d6;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 10px;
    float: left;
}

#mi_list .list_header .tiaojian #btn3:hover {
    background: #845f3f;
    color: #fff;
}