#mi_login {
    width: 100%;
    height: 100%;
}

#mi_login .content {
    width: 854px;
    margin: auto;
    background: #fff;
    padding-bottom: 60px;
}

#mi_login .ercode {
    position: relative;
}

#mi_login .ercode a {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 68px;
    height: 68px;
    background: url(./img/sprite_login.gif);
    opacity: 0.3;
}

#mi_login .ercode a:hover {
    opacity: 1;
}

#mi_login .mi_header {
    padding: 50px 0 42px;
}

#mi_login .content .top {
    width: 100%;
    height: 48px;
    margin-bottom: 22px;
    background: url(./img/milogo.png)no-repeat center 0;
}

#mi_login .content .title {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    color: #333;
}

#mi_login .login-inp {
    margin: 10px;
    width: 358px;
    margin: auto;
}

#mi_login .content .login-inp input {
    margin: auto;
    height: 22px;
    line-height: 22px;
    padding: 13px 16px 13px 14px;
    display: block;
    width: 326px;
    color: #333;
    font-size: 100%;
    margin-bottom: 15px;
}

#mi_login .content .login-inp .btn {
    background-color: #ff6700;
    width: 100%;
    height: 50px;
    display: block;
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    border: 0;
}

#mi_login .other_panel {
    width: 358px;
    margin: auto;
    font-size: 0;
}

#mi_login .other_panel .phone_login {
    height: 50px;
}

#mi_login .other_panel .phone a {
    color: #ff6700;
    border: 0 none;
    height: auto;
    line-height: normal;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
}

#mi_login .other_panel .forget {
    float: right;
}

#mi_login .other_panel .forget span {
    font-size: 12px;
    padding: 0 5px;
    color: #e0e0e0;
    line-height: 12px;
}

#mi_login .other_panel .forget a {
    color: #757575;
    line-height: 14px;
    font-size: 14px;
}

#mi_login .other_panel .forget a:hover {
    color: #ff6700;
}

#mi_login .cut_line {
    font-size: 14px;
    height: 20px;
}

#mi_login .cut_line .oth_tit {
    height: 1px;
    width: 100%;
    position: relative;
    background: #e0e0e0;
}

#mi_login .cut_line .oth_txt {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b0b0b0;
    background: #fff;
    padding: 0 2px;
}

#mi_login .other_ogin {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 20px;
}

#mi_login .other_ogin a {
    width: 30px;
    height: 30px;
    margin: 0 12px;
    display: inline-block;
    border-radius: 50%;
    background-color: #0288d1;
}

#mi_login .other_ogin .QQ {
    background-color: #0288d1;
}

#mi_login .other_ogin .QQ i {
    margin: 4px auto 0;
    display: block;
    background: url(./img/icons_type.png) -19px 0;
    width: 18px;
    height: 18px;
}

#mi_login .other_ogin .weibo {
    background-color: #d32f2f;
}

#mi_login .other_ogin .weibo i {
    margin: 4px auto 0;
    display: block;
    background: url(./img/icons_type.png) 70px 0;
    width: 18px;
    height: 18px;
}

#mi_login .other_ogin .zhifubao {
    background-color: #0288d1;
}

#mi_login .other_ogin .zhifubao i {
    margin: 4px auto 0;
    display: block;
    background: url(./img/icons_type.png) -57px 0;
    width: 25px;
    height: 18px;
    margin-top: 6px;
    margin-left: 4px;
}

#mi_login .other_ogin .weixin {
    background-color: #00d20d;
}

#mi_login .other_ogin .weixin i {
    margin: 4px auto 0;
    display: block;
    background: url(./img/icons_type.png) -83px 0;
    width: 24px;
    height: 18px;
    margin-top: 6px;
}

#mi_login .content .erro_tip {
    font-size: 0;
    display: none;
    margin-bottom: 15px;
}

#mi_login .content .erro_tip i {
    width: 14px;
    height: 14px;
    margin: -1px 5px 0 0;
    display: inline-block;
    float: none;
    background: url(./img/icon_user.png) 14px 0;
    vertical-align: middle;
}

#mi_login .content .erro_tip span {
    line-height: 20px;
    font-size: 14px;
    vertical-align: middle;
    color: #f66;
}