html,
body {
    width: 100%;
    height: 100%;
}

#zhuche {

    width: 100%;
    background: #f9f9f9;
    overflow: hidden;
    padding-top: 15px;
}

#zhuche .content {

    width: 854px;
    margin: 0 auto;
    background: #fff;
    color: #666;
    font-size: 14px;
    padding-bottom: 30px;
}

#zhuche .content .top {
    width: 100%;
    height: 48px;
    margin-bottom: 40px;
    background: url(./img/milogo.png)no-repeat center 0;
}

#zhuche .content .title {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    color: #333;
    line-height: 1.5;
}

#zhuche .content .regbox {
    width: 332px;
    margin: auto;
    padding: 30px 0;
    line-height: 20px;
    /* display: none; */
}

#zhuche .content .regbox .tit_normal {
    padding-bottom: 5px;
    color: #333;
    font-weight: normal;
    font-size: 14px;
}

#zhuche .content .regbox .select-regions {
    height: 40px;
    padding-left: 14px;
    line-height: 40px;
    display: inline-block;
    border: 1px solid #e8e8e8;
    color: #555;
    cursor: pointer;
    margin-bottom: 15px;
    position: relative;
}

#zhuche .content .regbox .result-select {
    float: left;
    width: 275px;
    border-right: 1px solid #e8e8e8;
    cursor: pointer;
}

#zhuche .content .regbox i {
    float: right;
    background: url(./img/icon_user.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: 11px 12px 0 12px;
}

#zhuche .content .regbox .region_tip {
    margin-top: -10px;
    margin-bottom: 15px;
    line-height: 20px;
}

#zhuche .content .regbox .select-cycode {
    width: 74px;
    padding: 0 9px;
    margin-left: -15px;
    font-size: 0;
    box-sizing: border-box;
    float: left;
    line-height: 40px;
    border-right: 1px solid #e8e8e8;
}

#zhuche .content .regbox .select-cycode span {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

#zhuche .content .regbox .select-cycode i {
    vertical-align: middle;
    display: inline-block;
    float: none;
    margin: 6px 0 0 10px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #9d9d9d transparent transparent transparent;
}

#zhuche .content .regbox .inputbg {
    float: left;
    font-size: 0;
}

#zhuche .content .regbox .inputbg input {
    line-height: 20px;
    padding: 10px;
    width: 236px;
    color: #333;
    border: 0;
}

#zhuche .content .regbox .inputbg .acterr {
    border: 1px solid #ff6700;
    box-sizing: border-box;
    margin: -1px;
}

#zhuche .content .regbox .erro_tip {
    font-size: 0;
    display: none;
}

#zhuche .content .regbox .erro_tip i {
    width: 14px;
    height: 14px;
    margin: -1px 5px 0 0;
    display: inline-block;
    float: none;
    background: url(./img/icon_user.png) 14px 0;
    vertical-align: middle;
}

#zhuche .content .regbox .erro_tip span {
    line-height: 20px;
    font-size: 14px;
    vertical-align: middle;
    color: #f66;
}

#zhuche .content .regbox .btn_sub {
    margin-top: 15px;
    width: 100%;
    height: 42px;
    border: 1px solid rgba(186, 186, 186, 0.3);
    box-sizing: border-box;
}

#zhuche .content .regbox .btn_sub input {
    background-color: #ff6700;
    border: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#zhuche .content .regbox .btn_sub input:hover {
    background: #ff936a;
}

#zhuche .content .n_checked {
    text-align: center;
    margin-top: 40px;
    padding: 10px 0;
}

#zhuche .content .n_checked a {
    color: #333;
    font-weight: bold;
}

footer {
    margin-top: 10px;
    text-align: center;
    height: 80px;
}

footer .lang li {
    display: inline-block;
    font-size: 14px;
    border-right: 1px solid #9d9d9d;
    line-height: 14px;
}

footer .lang li:last-child {
    border-right: 0;
}

footer .lang li a {
    padding: 0 10px;
    color: #333;
}

footer .lang .coby {
    padding: 10px 0;
    font-size: 14px;
    color: #9d9d9d;
}

footer .lang .coby i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./img/ghs.png);
}

footer .lang .coby a {
    color: #9d9d9d;
}

#zhuche .sele_country {
    width: 100%;
    height: 270px;
    border: 1px solid #e8e8e8;
    line-height: 30px;
    position: absolute;
    left: -1px;
    top: 40px;
    z-index: 98;
    background: #fff;
    overflow: auto;
    display: none;
}

#zhuche .sele_country input {
    margin: 10px;
    width: 274px;
    height: 22px;
    line-height: 22px;
    padding: 5px 10px 5px 10px;
    display: block;
    border: 1px solid #e0e0e0;
}

#zhuche .sele_country dt {
    background: #fcdecc;
    padding-left: 10px;
    margin-bottom: 6px;
    line-height: 30px;
    color: #ef5b00 !important;
}

#zhuche .sele_country dd {
    padding: 0 10px;
    line-height: 39px;
    overflow: hidden;
    color: #000;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

#zhuche .sele_phone {
    display: none;
}

#zhuche .first_step {
    display: block;
}

#zhuche .second p {
    padding-bottom: 10px;
    line-height: 20px;
    color: #666;
    font-size: 14px;
}

#zhuche .second .adde_p span {
    color: #ff6700;
}

#zhuche .second .input_if {
    width: 580px;
    padding-bottom: 15px;
    margin-top: 10px;
}

#zhuche .second .input_if .if_num {
    width: 190px;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #e8e8e8;
    color: #333;

}

#zhuche .second .input_if .reg_btn {
    background: #fff;
    /* color: #888; */
    cursor: pointer;
    padding: 0 10px;
    margin-left: 8px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e8e8e8;
    box-sizing: content-box;
}

#zhuche .second .input_if .reg_btn:hover {
    background: #ececec;
    color: #888;
}

#zhuche .second .down_step {
    margin-top: 15px;
}

#zhuche .second .down_step input {
    background-color: #ff6700;
    border: 1px solid rgba(186, 186, 186, 0.3);
    color: #fff;
    width: 330px;
    height: 42px;
    margin: 0 auto;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

#zhuche .second .down_step input:hover {
    background: #ff936a;
}

#zhuche .second .go_home {
    margin-top: 10px;
}

#zhuche .second .go_home input {
    background: #fff;
    border: 1px solid #ddd;
    color: #7c7c7c;
    width: 330px;
    height: 42px;
    margin: 0 auto;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

#zhuche .second .go_home input:hover {
    color: #333;
}

#zhuche .second {
    display: none;
}

#zhuche .third {
    display: none;
}

#zhuche .third .input_if {
    margin-top: 0;
}

#zhuche .third .input_if .if_num {
    width: 310px;
}

#zhuche .content .third .regbox .erro_tip {
    display: none;
}

#zhuche .content .third .regbox .erro_tip span {
    /* color: #333; */
}

#zhuche .content .third .regbox {
    padding: 50px 0;
}

#zhuche .content .third .regbox .adde_p {
    padding-bottom: 0;
}

#zhuche .na-img-area {
    text-align: center;
}

#zhuche .na-img-b {
    width: 80px;
    height: 80px;
    border: 2px solid rgb(227, 227, 227);
    border-radius: 50%;
    padding: 4px;
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 4;
    margin: auto;
}

#zhuche .na-img-b .na-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: url(https://account.xiaomi.com/static/res/7c3e9b0/passport/acc-2014/img/n-avator-bg.png) 0px 0px no-repeat !important;
}

#zhuche .na-img-area .us_name {
    padding-top: 5px;
}

#zhuche .if_name {
    padding: 10px 0 50px 0;
    text-align: center;
    font-size: 14px;
}

#zhuche .sel_bool a {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    color: rgb(124, 124, 124);
    width: 330px;
    height: 42px;
    margin: 0px auto;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    display: block;
    cursor: pointer;
    margin-top: 10px;
}

#zhuche .sel_bool input {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    color: rgb(124, 124, 124);
    width: 330px;
    height: 42px;
    margin: 30px auto;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    display: block;
    cursor: pointer;
    margin-top: 10px;
}

#zhuche .reg_true {
    display: none;
}

#zhuche .reg_last {
    text-align: center;
}

#zhuche .reg_last .adde_p {
    padding-top: 35px;
    margin-bottom: 80px;
}